<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
	<meta charset="UTF-8" />
</head>

<body>
	<header th:fragment="header-anon"class="masthead">
      <div class="container h-100">
          <div class="row h-100">
            <div class="col-lg-5">
              <!-- move text to right side right -->
            </div>
            <div class="col-lg-7 my-auto">
              <div class="header-content mx-auto">
                <h1 class="mb-5">My Day: Start rating your days.</h1>
                <a class="btn btn-outline-warning btn-xl" href="/login">Free to use :)!</a>
              </div>
            </div>
          </div>
        </div>
  </header>

  <section th:fragment="features-anon" class="features" id="features">
			<div class="container">
				<div class="section-heading text-center">
					<h2>Lots of Features :)</h2>
					<p class="text-muted">More on the way!</p>
					<hr>
				</div>
				<div class="row">
					<div class="col-lg-12">
							<div class="container-fluid">
									<div class="row">
										<div class="col-lg-6">
											<div class="feature-item">
												<i class="icon-screen-smartphone text-primary"></i>
												<h3>Web Accessibility </h3>
												<p class="text-muted">Access from any web enabled device!</p>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="feature-item">
												<i class="icon-chart"></i> 
												<h3>View Data</h3>
												<p class="text-muted">View data in a clean and elegant fashion!</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="feature-item">
												<i class="icon-present text-primary"></i>
												<h3>Free to Use</h3>
												<p class="text-muted">Will always be free to use!</p>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="feature-item">
												<i class="icon-lock-open text-primary"></i>
												<h3>Open Source</h3>
												<p class="text-muted">No funky business behind the scenes!</p>
											</div>
										</div>
									</div>
								</div>
					</div>
				</div>
			</div>
		</section>
	
		<section th:fragment="login-anon" class="cta">
			<div class="cta-content">
				<div class="container">
          <h2>Stop reading.<br>Start logging.</h2>
          <a class="btn btn-outline-warning btn-xl" href="/login">Sign up!</a>
				</div>
			</div>
			<div class="overlay"></div>
		</section>


		<div  th:fragment="side-bar-index"  class="col-sm-3 col-md-1 min-vh-100 pt-3 bg-darker">
				<ul class="nav flex-column h-100">
					 <li class="nav-item">
						 <a class="nav-link active" href="/"> <i class="fas fa-home"></i> Today</a>
					 </li>
					 <li class="nav-item">
							 <a class="nav-link disabled" href="/"><i class="fas fa-calendar-day"></i> All</a>
					 </li>
					 <li class="nav-item">
							 <a class="nav-link disabled" href="/"><i class="fas fa-calendar-alt"></i> Profile</a>
					 </li>
				</ul>
		</div>
		

	<footer th:fragement="footer" class="footer">
			<div class="container">
				<p>&copy; My Day 2019. All Rights Reserved.</p>
				<ul class="list-inline"></ul>
					<li class="list-inline-item">
						<a href="#">Privacy</a>
					</li>
					<li class="list-inline-item">
						<a href="#">Terms</a>
					</li>
					<li class="list-inline-item">
						<a href="#">FAQ</a>
					</li>
				</ul>
			</div>
		</footer>
</body>

</html>