<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
  <head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../css/main.css" /> -->

    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/webjars/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/webjars/js-cookie/js.cookie.js"
    ></script>
  </head>

  <body>
    <header
      th:replace="fragments/general :: ${#authorization.expression('isAnonymous()')} ? 'header-anon' : 'header-auth'"
    ></header>

    <div sec:authorize="isAuthenticated()">
      <form
        action="#"
        th:action="@{/new/rating}"
        th:object="${newRating}"
        method="post"
      >
        <p>Day: <input type="date" th:field="*{day}" /></p>
        <p>Rating: <input type="number" th:field="*{rating}" /></p>
        <p><input type="submit" value="Submit" /></p>
      </form>
    </div>
    <div sec:authorize="isAnonymous()">
      <h1>Please log in.</h1>
    </div>
  </body>
</html>
