<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Spring Boot Thymeleaf Hello World Example</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- 
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../css/main.css" /> -->

	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>

<body>
	<header th:replace="fragments/general :: ${#authorization.expression('isAnonymous()')} ? 'header-anon' : 'header-auth'"></header>

	<div sec:authorize="isAuthenticated()">
		<figure>
			<img th:attr="src=${picture_url}" style="display:block; margin:auto; width:100px; height: 100px;"
				class="rounded-circle">
		</figure>
		<h1><span th:text="'Welcome, ' + ${name}"></span>
		</h1>
	</div>
	<div sec:authorize="isAnonymous()">
		<h1>Hello my name </h1>
	</div>

</body>

</html>