<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>My Day</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
	<script type="text/javascript" th:src="@{/js/logout.js}"></script>
</head>

<body>
	<header th:replace="fragments/general :: ${#authorization.expression('isAnonymous()')} ? 'header-anon' : 'header-auth'"></header>

  <div class="container">
      <div sec:authorize="isAuthenticated()">
          <tr th:each="rating : ${ratings}">
              <p th:text="${rating.rating}"></p>
              <p th:text="${rating.day}"></p>
          </tr>
      </div>
      <div sec:authorize="isAnonymous()">
        <h1>Please log in.</h1>
      </div>

  </div>


</body>
</html>